[submodule "Libft"]
	path = Libft
	url = https://github.com/Xxdzs/Libft.git
[submodule "FunctionChecker"]
	path = FunctionChecker
	url = https://github.com/Xxdzs/FunctionChecker.git
[submodule "PoolPHP"]
	path = PoolPHP
	url = https://github.com/Xxdzs/PoolPHP
